# datasets & outputs
Dataset/
Dataset2/
results/
weight/
SystemChecking/
show/
leaf_output/
leaf-audio/example/
leaf-audio/setup.py
leaf-audio/.git/
# python junk
__pycache__/
*.pyc
*.pyo
*.pyd

# git
.git
.gitignore
.md